body {
  background-color: #ceddf1;
}

.card {
  background-color: #FDE293;
  border-radius: 15px;
  border: 2px solid #FFFFFF;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #FFFFFF;
}

#card-head {
  font-family: 'BioRhyme', serif;
  font-size: 30px;
  font-weight: normal;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.767);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  font-family: 'Cherry Bomb One', cursive;
  font-size: 30px;
  font-weight: normal;
}

header {
  background-color: #FDE293;
  border-radius: 15px;
  border: solid 2px #FFFFFF;
}
h1 {
  font-size: 32px;
  font-family: 'BioRhyme', serif;
  border-radius: 15px;
}

h2 {
  font-weight: bold;
  font-family: 'BioRhyme', serif;
  font-size: 32px;
  border-radius: 15px;
}

h3 {
  font-family: 'BioRhyme', serif;
  font-size: 36px;
  background-color: #FDE293;
  border-radius: 15px;
  border: 2px solid #FFFFFF;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}
input {
  font-size: 18px;
}

.image-text {
  display: flex;
  justify-content: center;
}

#krapyak {
  font-weight: normal;
  font-size: 64px;
  font-family: 'Cherry Bomb One', cursive;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  font-family: 'Diphylleia', serif;
}


#map {
    flex: auto;
    height: 50vh;
    width: 60%;
    flex-wrap: wrap;
  }

footer {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Diphylleia', serif;
  background-color: #F2A007;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}.image-text {
  display: flex;
  justify-content: center;
}

.top-city-img {
  position: relative;
  margin: 10px;
  width: 300px;
  height: 200px; 
  cursor: pointer;
}

.top-city-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.show-text-on-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 15px;
  overflow: auto;
}
.top-city-img:hover .show-text-on-img {
  opacity: 1;
  border: 2px solid #FDE293;
}


.resultCards {
  display: none;
  flex-direction: row;
  flex:auto;
  justify-content: space-between;
  align-items: center;
}

.card header {
  padding: 20px;
  background: #13293d;
  color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.767);
}


