body {
  background-color: #88B6F2;
}



span {
  font-size: 50px;
  font-family: 'Cherry Bomb One', cursive;
}

h1 {
  font-size: 20px;
}


#map {
    height: 50vh;
  }

footer {
  display: flex;
  justify-content: center;
  font-family: 'Gasoek One', sans-serif;
}
  