body {
  background-color: #88B6F2;
}

input {
  font-size: 18px;
}
#krapyak {
    font-weight: normal;
    font-size: 60px;
    font-family: 'Cherry Bomb One', cursive;
}

h1 {
  font-weight: bold;
  font-size: 28px;
  font-family: 'Diphylleia', serif;
}


#map {
    height: 50vh;
    width: 60%;
  }

footer {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Diphylleia', serif;
  background-color: #F2A007;
}
  